[submodule "vigra"]
	path = vigra
	url = https://github.com/praveenneuron/vigra.git
[submodule "CudaSift"]
	path = CudaSift
	url = https://github.com/praveenneuron/CudaSift.git
[submodule "opensift"]
	path = opensift
	url = https://github.com/praveenneuron/opensift.git
